* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

html[lang="fa"] #docs,
html[lang="fa"] #instructions,
html[lang="fa"] #credits .translate,
a[href="#fa"],
html[lang="he"] #docs,
html[lang="he"] #instructions,
html[lang="he"] #credits .translate,
a[href="#he"],
html[lang="ar"] #docs,
html[lang="ar"] #instructions,
html[lang="ar"] #credits .translate,
a[href="#ar"] {
  direction: rtl;
}

html[lang="fa"] #docs,
html[lang="fa"] #instructions,
html[lang="fa"] #credits .translate,
a[href="#fa"] {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

strong {
  font-size: 11pt;
}

#instructions-introduction p.rule {
  line-height: 2em;
  background-color: #6db36e;
  padding: 1em;
}

#instructions-introduction p img {
  vertical-align: middle;
}

#board-introduction {
  position: sticky;
  top: 0;
  width: 50vw;
  height: 50vw;
  min-width: 300px;
  min-height: 300px;
  max-width: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background-image: url("../images/map.png");
  background-size: contain;
  background-repeat: no-repeat;
}

body {
  display: flex;
  min-width: 600px;
  margin: 0;
  background-color: #43A047;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'PT Sans', sans-serif;
}

#sidebar, #sidebar-introduction, #sidebar-finish {
  width: 50%;
  min-width: 300px;
  position: relative;
  padding: 2em;
  background-color: #43A047;
  font-size: 15px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: -0.5rem;
  justify-content: space-between;
}

.stats {
  display: flex;
  flex-direction: column;
}

#stats-row-2, #stats-row-1 {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-content: space-between;
}

.all-lessons-badge, .complete-badge, .life-badge, .points-badge, .time-badge {
  width: 40px;
  height: 50px;
}

.all-lessons-badge:active, .complete-badge:active, .life-badge:active, .points-badge:active, .time-badge:active {
  pointer-events: none;
}

.frog-lives .bg {
  background-image: url("../images/frog-heart.png");
  width: 90%;
  height: 90%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.all-lessons-badge .bg, .complete-badge .bg, .life-badge .bg, .points-badge .bg, .time-badge .bg  {
  background-image: url("../images/badge-inactive.png");
  width: 90%;
  height: 90%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.all-lessons-badge .info, .complete-badge .info, .life-badge .info, .points-badge .info, .time-badge .info  {
  display: none;
  top: 30px;
  right: 31px;
  max-width: 160px;
  padding: 1em 0.5em;
  margin-top: 12px;
  z-index: 80;
}

#progress-bar-border {
  border: 1px solid #228B24;
  border-radius: 5px;
  height: 10px;
}

#progress-bar {
  border-radius: 5px;
  height: 10px;
  background-color: #228B24;
  margin-top: -1px;
}

.life-badge .bg.gold {
  background-image: url("../images/life-badge-gold.png");
}

.life-badge .bg.silver {
  background-image: url("../images/life-badge-silver.png");
}

.life-badge .bg.bronze {
  background-image: url("../images/life-badge-bronze.png");
}

.points-badge .bg.gold {
  background-image: url("../images/points-badge-gold.png");
}

.points-badge .bg.silver {
  background-image: url("../images/points-badge-silver.png");
}

.points-badge .bg.bronze {
  background-image: url("../images/points-badge-bronze.png");
}

.time-badge .bg.gold {
  background-image: url("../images/time-badge-gold.png");
}

.time-badge .bg.silver {
  background-image: url("../images/time-badge-gold-silver.png");
}

.time-badge .bg.bronze {
  background-image: url("../images/time-badge-bronze.png");
}

.complete-badge .bg.gold {
  background-image: url("../images/complete-badge-gold.png");
}

.all-lessons-badge .bg.gold {
  background-image: url("../images/all-lessons-badge-gold.png");
}

.title {
  margin: 0.5rem 0 0;
  text-transform: uppercase;
  font-family: 'Fredoka One', cursive;
  font-size: 28px;
}

#highscore-form {
  margin-top: 4em;
  width: 100%;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
}

#highscore-form-submit {
  width: 20rem;
}

#highscore-form-submit:hover {
  background-color: #F12D22;
}

#highscore-form-submit:disabled {
  opacity: 0.5;
  pointer-events: none;
}

#highscore-name-input, #highscore-form-submit {
  display: block;
}

#highscore-name-input {
  height: 2.5em;
  width: 20rem;
  padding: 1em;
  border-radius: 5px;
  border: none;
  text-align: center;
}

#highscore-name-input:invalid {
  color: #D11606;
}
#highscore-name-input:valid {
  color: #3fa142;
}

pre {
  margin: 0;
}

code {
  padding: 0 2px;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.8);
  white-space: nowrap;
}

li {
  line-height: 1.5;
}

a {
  color: rgba(255, 255, 255, 0.7);
}

a:hover {
  color: #fff;
}

.help {
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#info-all-lessons-badge, #info-complete-badge, #info-points-badge, #info-time-badge, #info-life-badge {
  display: none;
  width: 200px;
}

.tooltip {
  position: absolute;
  display: inline-block;
  max-width: 350px;
  padding: 1em 1em;
  background-color: #2c3e50;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
  z-index: 60;
}

.tooltip:after {
  content: '';
  position: absolute;
  top: -12px;
  left: 12px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #2c3e50;
}

#instructions .tooltip code {
  cursor: pointer;
}

#share {
  display: none;
  margin-bottom: 3em;
  text-align: center;
}

.fb-like {
  z-index: 20;
  vertical-align: top;
}

.games {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.games a {
  position: relative;
  display: inline-block;
  width: calc(50% - 0.25rem);
  border-radius: 6px;
  overflow:  hidden;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.games a::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top:  0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s;
}

.games a:hover::before {
  background-color: rgba(0, 0, 0, 0.1);
}

.games a::after {
  content: attr(data-title);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: 'Fredoka One', cursive;
  font-size: 18px;
}

.games a img {
  width: 100%;
  height: 100%;
}

#instructions {
  padding-top: 1rem;
}

#instructions,
#instructions p,
#instructions ul {
	/* helps prevent the difficulty animation from jumping */
	margin: 0;
  padding-bottom: 1em;
}

#editor {
  position: relative;
}

#editor,
pre {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  line-height: 1.5;
  color: #777;
}

#css {
  height: 260px;
  position: relative;
  padding: 10px 10px 10px 40px;
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
}

.line-numbers {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 10px 6px;
  text-align: right;
  background-color: #999;
  color: #D5D5D5;
}

#code {
  display: block;
  width: calc(100% - 16px);
  height: 24px;
  margin-left: 16px;
  border: none;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  outline: none;
  resize: none;
  overflow: auto;
}

#level-counter, #time-counter, #points-counter {
  flex-grow: 1;
  position: relative;
  display: inline-block;
  height: 30px;
  margin-top: 0.5rem;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#levelsWrapper, #info {
  display: none;
  top: 30px;
  right: 31px;
  max-width: 160px;
  padding: 1em 0.5em;
  margin-top: 12px;
  z-index: 80;
}

#levelsWrapper:after {
  left: calc(50% - 12px);
}

#levels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.level-marker {
  float: left;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 2px;
  line-height: 26px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  pointer-events: none;
}

.level-marker.current,
.level-marker:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

.level-marker.solved {
  background-color: #228B24;
}

#level-indicator,
.arrow {
  float: left;
  background-color: rgba(255, 255, 255, 0.2);
}

#lives-indicator, #badges-indicator {
  display: flex;
  flex-direction: row;
  gap: 0.2em;
  height: 45px;
  cursor: pointer;
}

#finish-stats {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#finish-stats-small {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  margin: 2em auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

#badges-finish {
  display: flex;
  flex-direction: row;
  gap: 0.2em;
  cursor: pointer;
  justify-content: center;
}

#badges-finish div {
  height: 60px;
  width: 60px;
}

#points-finish {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 2em;
}

#level-indicator, #time-indicator, #points-indicator {
  display: inline-block;
  width: 100%;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

#time-indicator {
  display: flex;
  gap: 10px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
}

#points-indicator {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.2);
}

#labelLevel {
  margin-left: 5px;
}

.caret {
  display: inline-block;
  margin-left: 2px;
}

#level-indicator:hover,
.arrow:not(.disabled):hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#labelReset {
  margin-top: 1em;
  text-align: center;
  cursor: pointer;
}

.arrow {
  display: inline-flex;
  align-items: center;
  padding: 0.25em 0.5em 0.2em;
  cursor: pointer;
}

.arrow.left {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px 0 0 4px;
}

.arrow.right {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0 4px 4px 0;
}

.arrow.left:not(.disabled):hover,
.arrow.right:not(.disabled):hover {
  border-color: transparent;
}

.arrow.disabled {
  opacity: 0.5;
}

.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.left .triangle {
  border-right: 11px solid rgba(255, 255, 255, 0.7);;
}

.right .triangle {
  border-left: 11px solid rgba(255, 255, 255, 0.7);;
}

button {
  display: inline-block;
  padding: 0.4em 0.8em;
  background-color: #D11606;
  border: none;
  border-radius: 4px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
}

button:active {
  outline: none;
}

button#next:not(.disabled):hover {
  background-color: #F12D22;
}

button#check:not(.disabled):hover {
  background-color: #3fa142;
}

#editor-buttons {
  position: absolute;
  right: 1em;
  bottom: 1em;
}

#next, #check {
  padding-top: 0.3em;
}

#check {
  background-color: #298a2b;
}

#pause {
  background-color: black;
}

#pause-screen, #start-screen, #game-over-screen {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#screen-instructions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  color: #fff;
}

.animation {
  animation: tada 1s, pulse 2s infinite 2s;
}

#check.disabled, #next.disabled, #pause.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.credits {
  margin-top: 1.5em;
  line-height: 1.5em;
  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

#settings {
  position: relative;
}

.toggle {
  display: inline-block;
  padding: 1px 8px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  user-select: none;
}

#settings .tooltip {
  display: none;
  bottom: 30px;
  left: 0px;
  width: 275px;
  max-width: 275px;
  padding: 1em;
  text-align: left;
  z-index: 80;
}

#settings .tooltip:after {
  top: auto;
  bottom: -12px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #2c3e50;
  border-bottom: none;
}

#settings section {
  margin: 0.5rem 0;
}

#settings h4 {
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
}

#board {
  position: sticky;
  top: 0;
  width: 50vw;
  height: 50vw;
  min-width: 300px;
  min-height: 300px;
  max-width: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

#pond,
#background {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
}

#background {
  z-index: 10;
  border-radius: 0 0 0 10px;
  background-color: #1F5768;
}

#pond {
  z-index: 20;
}

.frog-lives {
  position: relative;
  width: 40px;
  height: 50px;
  overflow: hidden;
}

.lilypad,
.frog {
  position: relative;
  width: 20%;
  height: 20%;
  overflow: hidden;
}

.frog.bounceOutUp {
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  -ms-animation-delay: .6s;
  animation-delay: .6s;
}

.frog .bg.bounce {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-duration: 2s;
}

.frog.yellow .bg.bounce {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -ms-animation-delay: .3s;
  animation-delay: .3s;
}

.frog.red .bg.bounce {
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  -ms-animation-delay: .6s;
  animation-delay: .6s;
}

.lilypad .bg,
.frog .bg {
  width: 90%;
  height: 90%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  
}

.frog .bg {
  background-size: 60% 60%;
}

.lilypad.green .bg {
  background-image: url("../images/lilypad-green.svg");
}

.lilypad.green.cb-friendly .bg {
  background-image: url("../images/lilypad-green-color-assist.svg");
}

.lilypad.red .bg {
  background-image: url("../images/lilypad-red.svg");
}

.lilypad.red.cb-friendly .bg {
  background-image: url("../images/lilypad-red-color-assist.svg");
}

.lilypad.yellow .bg {
  background-image: url("../images/lilypad-yellow.svg");
}
.lilypad.yellow.cb-friendly .bg {
  background-image: url("../images/lilypad-yellow-color-assist.svg");
}

.frog.green .bg {
  background-image: url("../images/frog-green.svg");
}

.frog.green.cb-friendly .bg {
  background-image: url("../images/frog-green-color-assist.svg");
}

.frog.red .bg {
  background-image: url("../images/frog-red.svg");
}

.frog.red.cb-friendly .bg {
  background-image: url("../images/frog-red-color-assist.svg");
}

.frog.yellow .bg {
  background-image: url("../images/frog-yellow.svg");
}

.frog.yellow.cb-friendly .bg {
  background-image: url("../images/frog-yellow-color-assist.svg");
}

.wrap {
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  body {
    flex-direction: column-reverse;
    align-items: center;
    min-width: 100vw;
  }

  body,
  #sidebar, #sidebar-introduction {
    font-size: 13px;
  }

  #sidebar, #sidebar-introduction {
    width: 100%;
  }

  #background {
    border-radius: 0 0 10px 10px;
  }

  .header {
    justify-content: center;
    flex-direction: column;
  }

  .stats {
    display: flex;
    flex-direction: column;
  }

  #stats-row-2, #stats-row-1 {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .title {
    font-size: 26px;
  }

  #labelFooter {
    display: none;
  }
}

.d-none {
  display: none !important;
}

.v-collapse {
  visibility: collapse !important;
}

/* Native by BuySellAds */
.native-ad {
  display: block;
  padding: 10px 20px 8px;
  border-radius: 4px;
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, .03) 5px, hsla(0, 0%, 0%, .03) 10px) hsla(0, 0%, 0%, .03);
  margin-top: 1.5em;
  font-size: 12px;
}

.native-ad a {
  text-decoration: none;
  display: block;
  line-height: 1.5;
}


.native-ad .sponsor {
  position: relative;
  top: -1px;
  padding: 3px 4px 2px;
  margin-right: 4px;
  border: solid 1px currentColor;
  border-radius: 2px;
  color: currentColor;
  content: "Sponsor";
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 1;
}

.d-none {
  display: none !important;
}


/* Achivement Styles */
#wrapper
{
  position:absolute;
  display: flex;
  flex-direction: column;
  gap: 6em;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 20;
}

.achievement 
{
  width: auto;
  margin: 0 auto;
  display: inline-block;
  visibility: collapse;
  position: relative;
  box-sizing: border-box;
  padding: 14px 128px 14px 24px;
  background: #373B44;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.10), 0px 2px 2px 0px rgba(0,0,0,0.24);
  border-radius: 39px;
}

.text 
{
  color: #f1f1f1;
  font-family: 'Roboto', helvetica, arial, sans-serif;
  font-size: 16px;
}

.icon-smiley
{
  background-color: #03A9F4;
  width: 120px;
  height: 120px;
  position: absolute;
  top:-40px;
  right: -10px;
  z-index: 50;
  border-radius: 60px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.10), 0px 4px 4px 0px rgba(0,0,0,0.24);
}

.icon-smiley {
  background-position: center;
  background-size: contain;
}

.icon-smiley.life-badge-gold {
  background-image: url(../images/life-badge-gold.png);
}

.icon-smiley.life-badge-silver {
  background-image: url(../images/life-badge-silver.png);
}

.icon-smiley.life-badge-bronze {
  background-image: url(../images/life-badge-bronze.png);
}

.icon-smiley.time-badge-gold {
  background-image: url(../images/time-badge-gold.png);
}

.icon-smiley.time-badge-silver {
  background-image: url(../images/time-badge-silver.png);
}

.icon-smiley.time-badge-bronze {
  background-image: url(../images/time-badge-bronze.png);
}

.icon-smiley.points-badge-gold {
  background-image: url(../images/points-badge-gold.png);
}

.icon-smiley.points-badge-silver {
  background-image: url(../images/points-badge-silver.png);
}

.icon-smiley.points-badge-bronze {
  background-image: url(../images/points-badge-bronze.png);
}

.icon-smiley.all-lessons-badge-gold {
  background-image: url(../images/all-lessons-badge-gold.png);
}

.icon-smiley.complete-badge-gold {
  background-image: url(../images/complete-badge-gold.png);
}

.icon-smiley::before
{
  content: ' ';
  width: auto;
  height: 100%;
  padding: 20px;
  display: block;
  z-index: 99;
  background-image: url('https://dl.dropboxusercontent.com/u/37351873/smiley.svg');
  background-repeat: no-repeat;
  background-position: 16px 15px;
}

.ribbon
{
  z-index: 30;
  background: #F41A6C;
  width: 86px;
  height: 20px;
  position: absolute;
  text-align: center;
  border: 0;
  right: 8px;
  top:0px;
}
.ribbon:after 
{
    content: "";
    position: absolute;
    bottom: -60px;
    left: 0;
    height: 0;
    width: 0;
    border: solid 43px #F41A6C;
    border-bottom-color: transparent;
}

.achievement 
{ 
  visibility: collapse;
  opacity: 0;
  transition: visibility 1s, opacity 1s; 
  transform: translateX(0px) translateY(90px);
  transition: all 1000.00ms ease;
  -webkit-transform: translateX(0px) translateY(90px);
  -webkit-transition: all 1000.00ms ease;
}

.achievement.active 
{ 
  visibility: visible;
  opacity: 1;
  transition: visibility 1s, opacity 1s; 
  visibility: visible;
  transform: translateX(0px) translateY(-100.00px);
  -webkit-transform: translateX(0px) translateY(-100.00px);
}

.icon-smiley 
{ 
  visibility: collapse;
  transform: translateY(26.00px);
  transition: all 1000.00ms ease;
  -webkit-transform: translateY(26.00px);
  -webkit-transition: all 1000.00ms ease;
}

.icon-smiley.active 
{ 
  visibility: visible;
  transform: none;
  -webkit-transform: none;
}

.ribbon 
{ 
  visibility: collapse;
  transform: translateX(0px) translateY(50px) scaleY(0.5);
  transition: all 1000.00ms ease;
  transition-delay: 100ms;
  -webkit-transform: translateX(0px) translateY(50px) scaleY(0.5);
  -webkit-transition: all 1000.00ms ease;
  -webkit-transition-delay: 100ms;
}

.ribbon.active 
{ 
  visibility: visible;
  transform: translateX(0px) translateY(54.00px) scaleY(1);
  transition-delay: 100ms;
  -webkit-transform: translateX(0px) translateY(54.00px) scaleY(1);
  -webkit-transition-delay: 100ms;
}

@media (max-width: 728px)
{
  .achievement
  {
    width: 300px;
    max-width: 320px;
    margin: 0 0;
    padding: 20px 24px 20px auto;
  }
  .icon-smiley
  {
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .ribbon
  {
    left: 0;
    right: 0;
    top: 90px;
    margin: 0 auto;
    
  }
  
  .achievement 
  { 
    visibility: collapse;
    opacity: 0;
    transition: visibility 1s, opacity 1s; 
    transform: translateX(0px) translateY(90px);
    transition: all 1000.00ms ease;
    -webkit-transform: translateX(0px) translateY(90px);
    -webkit-transition: all 1000.00ms ease;
  }
  .achievement.active 
  { 
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s; 
    transform: translateX(0px) translateY(-200.00px);
    -webkit-transform: translateX(0px) translateY(-200.00px);
  }
}


/* Highscore */

.highscore {
  background-color: #3f1f68;
  color: #228B24;
  margin: 0 auto;
  text-align: center;
  font-family: 'Fredoka One', cursive;
}

.table-title th {
  font-size: 28pt;
  padding: 0 !important;
  letter-spacing: 0.3em;
  color: #ccc;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
  color: #000;
  width: 100%;
}

td, th {
  padding: 0.3em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

th {
  font-weight: bolder;
  font-size: 15pt;
}

tr:first-child th:first-child { border-top-left-radius: 10px; }
tr:first-child th:last-child { border-top-right-radius: 10px; }

tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }


/* tutorial */

#info-tutorial-lifes, #info-tutorial-badges, #info-tutorial-time, #info-tutorial-check, #info-tutorial-nextlevel, #info-tutorial-code {
  display: none;
  width: 200px;
}

#info-tutorial-lifes .info-tutorial-text, #info-tutorial-badges .info-tutorial-text, #info-tutorial-time .info-tutorial-text, #info-tutorial-check .info-tutorial-text, #info-tutorial-nextlevel .info-tutorial-text, #info-tutorial-code .info-tutorial-text {
  color: #fff;
  font-size: 9pt;
  font-family: Tahoma;
}

#info-tutorial-lifes .info-tutorial-next, #info-tutorial-badges .info-tutorial-next, #info-tutorial-time .info-tutorial-next, #info-tutorial-check .info-tutorial-next, #info-tutorial-nextlevel .info-tutorial-next, #info-tutorial-code .info-tutorial-next {
  display: flex;
  justify-content: right;
  margin-top: 0.6em;
  font-size: 12px;
}

.info-tutorial-next button {
  padding: 0.2em 0.4em;
}

.z-index-tutorial {
  position: relative;
  z-index: 998;
  opacity: 1 !important;
  pointer-events: none;
}

#blur-screen {
  position: absolute;
  width: 100vw;
  height: 150vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 200;
}

.show-tutorial {
  display: block !important;
  z-index: 999;
}

#info-tutorial-check {
  top: 50px;
  left: 83px;
}

#info-tutorial-nextlevel {
  top: 50px;
  left: 156px;
}

#info-tutorial-badges {
  left: 313px;
  bottom: 241px;
}

#info-tutorial-time {
  left: 344px;
  bottom: 153px;
}

#info-tutorial-lifes {
  bottom: 188px;
  left: 67px;
}